<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="emSyncServicesConnectionString" connectionString="metadata=res://*/emSyncServices.csdl|res://*/emSyncServices.ssdl|res://*/emSyncServices.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=distrdev;Password=distrdev;Server=DISTRTMP;Home=oraclient11g_home1;Persist Security Info=True&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>