<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Upsmile.Sync.Initiator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <Upsmile.Sync.Initiator.Properties.Settings>
            <setting name="RunSyncFrequency" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="ServiceHostAddress" serializeAs="String">
                <value>net.tcp://localhost:9001/Upsmile.Sync.Initiator</value>
            </setting>
            <setting name="ServiceEndPointAddress" serializeAs="String">
                <value>USInService.svc</value>
            </setting>
            <setting name="NeedLogSyncData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxPoolSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Pooling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenTimeout" serializeAs="String">
                <value>04:00:00</value>
            </setting>
            <setting name="ReceiveTimeout" serializeAs="String">
                <value>04:00:00</value>
            </setting>
            <setting name="SendTimeout" serializeAs="String">
                <value>04:00:00</value>
            </setting>
            <setting name="CloseTimeout" serializeAs="String">
                <value>04:00:00</value>
            </setting>
            <setting name="DBEncodingName" serializeAs="String">
                <value>UTF-8</value>
            </setting>
            <setting name="TransmissionEncodingName" serializeAs="String">
                <value>UTF-8</value>
            </setting>
        </Upsmile.Sync.Initiator.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
