<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DataModel1ConnectionString" connectionString="metadata=res://*/DataModel1.csdl|res://*/DataModel1.ssdl|res://*/DataModel1.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=distrdev;Password=distrdev;Server=DISTRTMP;Home=oraclient11g_home1;Persist Security Info=True&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>